add_newline = true
command_timeout = 5000
palette = "everforest"

format = """
$directory\
$git_branch\
$git_status\
$aws\
$line_break\
$os\
$character"""

[git_commit]
commit_hash_length = 8
style = "bold white"

[git_state]
format = '[\($state( $progress_current of $progress_total)\)]($style) '

[git_branch]
style = "fg:green"
symbol = " "
format = "[$symbol$branch(:$remote_branch)]($style) "

[git_status]
style = "red"
format = "[$all_status$ahead_behind]($style) "

[os]
disabled = false
format = '[$symbol ]($style)'
style = 'fg:grey2'

[aws]
style = "yellow"
symbol = "☁️ "
format = '[$symbol$profile | $region \[$duration\]]($style)'

[os.symbols]
Ubuntu = "󰕈"
Macos = "󰀵"
Linux = "󰌽"
Arch = "󰣇"
Debian = "󰣚"

[directory]
style = "fg:blue"
read_only_style = "fg:blue"
truncation_length = 5
format = "[ $path]($style)[$read_only]($read_only_style) "

[palettes.everforest]
bg_dim = "#232a2e"
bg0 = "#2d353b"
bg1 = "#343f44"
bg2 = "#3d484d"
bg3 = "#475258"
bg4 = "#4f585e"
bg5 = "#56635f"
bg_visual = "#543a48"
bg_red = "#514045"
bg_green = "#425047"
bg_blue = "#3a515d"
bg_yellow = "#4d4c43"
fg = "#d3c6aa"
red = "#e67e80"
orange = "#e69875"
yellow = "#dbbc7f"
green = "#a7c080"
aqua = "#83c092"
blue = "#7fbbb3"
purple = "#d699b6"
grey0 = "#7a8478"
grey1 = "#859289"
grey2 = "#9da9a0"
statusline1 = "#a7c080"
statusline2 = "#d3c6aa"
statusline3 = "#e67e80"
