@import "../omarchy/current/theme/waybar.css";

* {
  font-family: 'FiraCode Nerd Font';
  font-size: 14px;
  min-height: 0;
  min-width: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  margin: 0px;
  font-weight: 500;
}

#workspaces {
  background-color: #414B50;
  padding: 3px;
  margin: 5px 3px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  border: none;
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: @foreground;
  margin-left: 10px;
}

#workspaces button {
  color: @foreground;
  border-radius: 10px;
  min-width: 20px;
  padding: 0.3rem 0.6rem;
  background: transparent;
  transition: all 0.35s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  border: none;
  outline: none;
}

#workspaces button.active {
  color: #414B50;
  border-radius: 10px;
  background-color: #83C092;
  min-width: 20px;
  box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}

#memory,
#temperature,
#cpu {
  color: @foreground;
  background-color: #414B50;
  padding: 0.3rem 0.7rem;
  margin: 5px 3px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  border: none;
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#clock {
  color: @foreground;
  font-weight: 500;
  font-size: 14px;
  background-color: #414B50;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#bluetooth,
#pulseaudio,
#backlight,
#network,
#language {
  color: @foreground;
  background-color: #414B50;
  padding: 0.3rem 0.1rem;
  margin: 5px 0px;
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#cpu {
  min-width: 100px;
}

#language {
  min-width: 50px;
  font-size: 14px;
  margin: 5px 0px 5px 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#battery {
  background-color: #414B50;
  color: #A7C080;
  padding: 0.3rem 0.5rem;
  margin: 5px 0px;
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#battery.bat0 {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#battery.bat1 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 10px;
}

#battery.charging {
  color: #DBBC7F;
}

#battery.warning:not(.charging) {
  color: #E67E80;
}

#pulseaudio {
  min-width: 70px;
}

#pulseaudio.muted {
  color: #E67E80;
}

#backlight {
  min-width: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#network {
  min-width: 30px;
}

#network.disconnected {
  color: #E67E80;
}

#bluetooth {
  min-width: 20px;
}

#bluetooth.connected {
  color: #7FBBB3;
}

tooltip {
  background-color: #414B50;
  color: @foreground;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
